*{
    margin:0;
    padding: 0;
}
body{
    font-family:'poppins',sans-serif ;
}
.cacalho{
    background: color #3b3b3b;
    color: white ;
    display:flex;
    justify-content: espace-around;
    align-items: center;
    padding: 24px0;
}
.cabecalho-imagem{
    width: 10%;

}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}


    



    
